button{
  display: block;
  margin-bottom: 10px;
}

.gallery{
  margin-top: 10px;
}

/*.wrapper{*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  flex-wrap: nowrap;*/
/*}*/

.header-title{
  color: black;
  text-align: center;
  font-size: 24px;
  font-family: Broadway;
  border: 1px solid black;
  padding: 10px 0;
}

.wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box{
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px 20px;
  width: 50vh;
  height: 50vh;
}
a{
  font-family: Broadway;

}
.gallery{
  margin-left: 30px;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
